flows_debian.json
[{"id":"a88a6b70.8090f8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"56cd4fb8.975c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3a474b01.8e30a4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a8e0a526.8fef58","type":"ui_group","z":"","name":"Default","tab":"3a474b01.8e30a4","disp":true,"width":"20","collapse":false},{"id":"4856fe86.f654","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f90d8bca.576fc8","type":"HTML-PDF","z":"a88a6b70.8090f8","name":"HTML-PDF","output":"file","x":427.5,"y":55,"wires":[["20617570.27eb6a"]]},{"id":"fb84edb5.acd2","type":"inject","z":"a88a6b70.8090f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":56,"wires":[["e2600b11.784158"]]},{"id":"e2600b11.784158","type":"function","z":"a88a6b70.8090f8","name":"","func":"msg.payload = `\n<!DOCTYPE html>\n<html>\n\n   <head>\n      <title>HTML Table Background</title>\n   </head>\n\t\n   <body>\n      <table border = \"1\" bordercolor = \"green\" background = \"/images/test.png\">\n         <tr>\n            <th>Column 1</th>\n            <th>Column 2</th>\n            <th>Column 3</th>\n         </tr>\n         <svg width=\"100\" height=\"100\">\n  <circle cx=\"50\" cy=\"50\" r=\"40\" stroke=\"green\" stroke-width=\"4\" fill=\"yellow\" />\n</svg>\n         <tr>\n            <td rowspan = \"2\">Row 1 Cell 1</td>\n            <td>Row 1 Cell 2</td><td>Row 1 Cell 3</td>\n         </tr>\n         <tr>\n            <td>Row 2 Cell 2</td>\n            <td>Row 2 Cell 3</td>\n         </tr>\n         <tr>\n            <td colspan = \"3\">Row 3 Cell 1</td>\n         </tr>\n      </table>\n   </body>\n\t\n</html>\n`; \n\n\n\n\n\nmsg.filename = \"text.pdf\";\nreturn msg;","outputs":1,"noerr":0,"x":238,"y":55,"wires":[["f90d8bca.576fc8"]]},{"id":"20617570.27eb6a","type":"debug","z":"a88a6b70.8090f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":648,"y":133,"wires":[]},{"id":"5e6feaf5.83cd34","type":"exec","z":"a88a6b70.8090f8","command":"lp /home/luca/Documents/gidi/text.pdf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":702.5,"y":55.5,"wires":[[],[],[]]},{"id":"ab49cc52.00153","type":"ui_template","z":"a88a6b70.8090f8","group":"a8e0a526.8fef58","name":"","order":0,"width":"1","height":"1","format":"<style>\n    #iframe {\n  position: absolute;\n  left: 100px;\n  top: 100px;\n}\n\n#canvas {\n  border:2px solid #000000;\n  position: absolute;\n  top: 50px;\n  left: 50px;\n}\n</style>\n\n<script>\n    $(document).ready(function() {\n  initialize();\n});\n\n// works out the X, Y position of the click inside the canvas from the X, Y position on the page\n\nfunction getPosition(mouseEvent, sigCanvas) {\n    var rect = sigCanvas.getBoundingClientRect();\n    return {\n      X: mouseEvent.clientX - rect.left,\n      Y: mouseEvent.clientY - rect.top\n    };\n}\n\n/*function getPosition(mouseEvent, sigCanvas) {\n  var x, y;\n  if (mouseEvent.pageX != undefined && mouseEvent.pageY != undefined) {\n    x = mouseEvent.pageX;\n    y = mouseEvent.pageY;\n\n  } else {\n    x = mouseEvent.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;\n    y = mouseEvent.clientY + document.body.scrollTop + document.documentElement.scrollTop;\n  }\n\n  return {\n    X: x - sigCanvas.offsetLeft,\n    Y: y - sigCanvas.offsetTop\n  };\n}*/\n\nfunction initialize() {\n  // get references to the canvas element as well as the 2D drawing context\n  var sigCanvas = document.getElementById(\"canvas\");\n  var context = sigCanvas.getContext(\"2d\");\n  context.strokeStyle = \"#f8920f\";\n  context.lineJoin = \"round\";\n  context.lineWidth = 10;\n\n  // This will be defined on a TOUCH device such as iPad or Android, etc.\n  var is_touch_device = 'ontouchstart' in document.documentElement;\n\n  if (is_touch_device) {\n    // create a drawer which tracks touch movements\n    var drawer = {\n      isDrawing: false,\n      touchstart: function(coors) {\n        context.beginPath();\n        context.moveTo(coors.x, coors.y);\n        this.isDrawing = true;\n      },\n      touchmove: function(coors) {\n        if (this.isDrawing) {\n          context.lineTo(coors.x, coors.y);\n          context.stroke();\n        }\n      },\n      touchend: function(coors) {\n        if (this.isDrawing) {\n          this.touchmove(coors);\n          this.isDrawing = false;\n        }\n      }\n    };\n\n    // create a function to pass touch events and coordinates to drawer\n    function draw(event) {\n\n      // get the touch coordinates.  Using the first touch in case of multi-touch\n      var coors = {\n        x: event.targetTouches[0].pageX,\n        y: event.targetTouches[0].pageY\n      };\n\n      // Now we need to get the offset of the canvas location\n      var obj = sigCanvas;\n\n      if (obj.offsetParent) {\n        // Every time we find a new object, we add its offsetLeft and offsetTop to curleft and curtop.\n        do {\n          coors.x -= obj.offsetLeft;\n          coors.y -= obj.offsetTop;\n        }\n        // The while loop can be \"while (obj = obj.offsetParent)\" only, which does return null\n        // when null is passed back, but that creates a warning in some editors (i.e. VS2010).\n        while ((obj = obj.offsetParent) != null);\n      }\n\n      // pass the coordinates to the appropriate handler\n      drawer[event.type](coors);\n    }\n\n    // attach the touchstart, touchmove, touchend event listeners.\n    sigCanvas.addEventListener('touchstart', draw, false);\n    sigCanvas.addEventListener('touchmove', draw, false);\n    sigCanvas.addEventListener('touchend', draw, false);\n\n    // prevent elastic scrolling\n    sigCanvas.addEventListener('touchmove', function(event) {\n      event.preventDefault();\n    }, false);\n  } else {\n\n    // start drawing when the mousedown event fires, and attach handlers to\n    // draw a line to wherever the mouse moves to\n    $(\"#canvas\").mousedown(function(mouseEvent) {\n      var position = getPosition(mouseEvent, sigCanvas);\n      context.moveTo(position.X, position.Y);\n      context.beginPath();\n\n      // attach event handlers\n      $(this).mousemove(function(mouseEvent) {\n        drawLine(mouseEvent, sigCanvas, context);\n      }).mouseup(function(mouseEvent) {\n        finishDrawing(mouseEvent, sigCanvas, context);\n      }).mouseout(function(mouseEvent) {\n        finishDrawing(mouseEvent, sigCanvas, context);\n      });\n    });\n\n  }\n}\n\n// draws a line to the x and y coordinates of the mouse event inside\n// the specified element using the specified context\nfunction drawLine(mouseEvent, sigCanvas, context) {\n\n  var position = getPosition(mouseEvent, sigCanvas);\n\n  context.lineTo(position.X, position.Y);\n  context.stroke();\n}\n\n// draws a line from the last coordiantes in the path to the finishing\n// coordinates and unbind any event handlers which need to be preceded\n// by the mouse down event\nfunction finishDrawing(mouseEvent, sigCanvas, context) {\n  // draw the line to the finishing coordinates\n  drawLine(mouseEvent, sigCanvas, context);\n\n  context.closePath();\n\n  // unbind any events which could draw\n  $(sigCanvas).unbind(\"mousemove\")\n    .unbind(\"mouseup\")\n    .unbind(\"mouseout\");\n}\n\n// Clear the canvas context using the canvas width and height\nfunction clearCanvas(canvas, ctx) {\n  ctx.clearRect(0, 0, canvas.width, canvas.height);\n}\n</script>\n\n<div id=\"iframe\">\n  <canvas id=\"canvas\" width=\"500px\" height=\"500px\"></canvas>\n  <input type=\"submit\" value=\"Clear Canvas\" id=\"clearbutton\" onclick=\"clearCanvas(canvas,ctx);\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":526,"y":396,"wires":[["307f964d.df9c2a"]]},{"id":"73200278.9f94fc","type":"HTML-PDF","z":"a88a6b70.8090f8","name":"HTML-PDF","output":"file","x":555.5,"y":274,"wires":[[]]},{"id":"307f964d.df9c2a","type":"debug","z":"a88a6b70.8090f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":679,"y":396,"wires":[]},{"id":"ef58e844.26e678","type":"inject","z":"a88a6b70.8090f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":235,"y":274,"wires":[["ab49cc52.00153"]]},{"id":"5d6850ff.9c475","type":"function","z":"a88a6b70.8090f8","name":"","func":"msg.payload = `\n<!DOCTYPE html>\n<html>\n\n   <head>\n      <title>HTML Table Background</title>\n   </head>\n\t\n   <body>\n      <table border = \"1\" bordercolor = \"green\" background = \"/images/test.png\">\n         <tr>\n            <th>Column 1</th>\n            <th>Column 2</th>\n            <th>Column 3</th>\n         </tr>\n         <tr>\n            <td rowspan = \"2\">Row 1 Cell 1</td>\n            <td>Row 1 Cell 2</td><td>Row 1 Cell 3</td>\n         </tr>\n         <tr>\n            <td>Row 2 Cell 2</td>\n            <td>Row 2 Cell 3</td>\n         </tr>\n         <tr>\n            <td colspan = \"3\">Row 3 Cell 1</td>\n         </tr>\n      </table>\n   </body>\n\t\n</html>\n`; \n\n\n\n\n\nmsg.filename = \"text.pdf\";\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":275,"wires":[["73200278.9f94fc"]]},{"id":"e1dcebec.ee3c58","type":"ui_template","z":"a88a6b70.8090f8","group":"a8e0a526.8fef58","name":"","order":0,"width":"20","height":"8","format":"<html>\n <head>\n  <script type=\"text/javascript\" src=\"node_modules/paper/dist/paper-full.min.js\"></script>\n  <script type=\"text/paperscript\" canvas=\"myCanvas\">\n   var path = new Path();\n   path.strokeColor = 'black';\n   var start = new Point(100, 100);\n   path.moveTo(start);\n   path.lineTo(start + [ 100, -50 ]);\n  </script>\n </head>\n<body>\n  <canvas id=\"myCanvas\" resize></canvas>\n </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":388,"y":463,"wires":[["44556443.5296fc"]]},{"id":"44556443.5296fc","type":"debug","z":"a88a6b70.8090f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":541,"y":463,"wires":[]},{"id":"60ef0978.a06e38","type":"http in","z":"56cd4fb8.975c","name":"","url":"/api","method":"post","upload":false,"swaggerDoc":"","x":85,"y":52,"wires":[["a791fa75.ec55f8","3206a6dc.23775a"]]},{"id":"ebc34fce.4c0f","type":"http response","z":"56cd4fb8.975c","name":"","statusCode":"200","headers":{},"x":902,"y":212,"wires":[]},{"id":"af9c272f.7e55a8","type":"file","z":"56cd4fb8.975c","name":"","filename":"/home/luca/Documents/gidi/foto.png","appendNewline":false,"createDir":false,"overwriteFile":"true","x":802.5,"y":91,"wires":[[]]},{"id":"8ecefd70.8b486","type":"function","z":"56cd4fb8.975c","name":"","func":"var string = msg.payload;\nvar regex = /^data:.+\\/(.+);base64,(.*)$/;\n\nvar matches = string.match(regex);\nvar ext = matches[1];\nvar data = matches[2];\nvar buffer = new Buffer(data, 'base64');\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":523.5,"y":84,"wires":[["af9c272f.7e55a8"]]},{"id":"77235e5e.82082","type":"HTML-PDF","z":"56cd4fb8.975c","name":"HTML-PDF","output":"file","x":729,"y":211,"wires":[["ebc34fce.4c0f"]]},{"id":"3206a6dc.23775a","type":"function","z":"56cd4fb8.975c","name":"","func":"msg.payload = `\n<div style=\"border: 0px solid black; height: 50px; line-height: 50px; position: relative; overflow: hidden;\">\n    <div style=\"display: inline-block; border: 0px solid black; float:left;\">\n        <p>Firma del cliente :  </p>\n     </div>\n    <div style=\"border: 0px solid black; max-height: 100%; float:left;\">\n      <img style=\"height: 50px;\" src=\"${msg.req.body.firma}\" />\n  </div>\n</div>\n<hr>\n<div style=\"border: 1px solid black\">\n    <img style=\"max-width: 100%;\" src=\"${msg.req.body.scontrino}\" />\n</div>\nciao\n\n`; \n\n\n\n\n\nmsg.filename = \"/home/luca/text.pdf\";\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":178,"wires":[["77235e5e.82082"]]},{"id":"7b41d3c.c806e2c","type":"exec","z":"56cd4fb8.975c","command":"lp /home/luca/text.pdf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":943,"y":253.5,"wires":[[],[],[]]},{"id":"5d508d10.fe2994","type":"inject","z":"56cd4fb8.975c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":415,"wires":[[]]},{"id":"a791fa75.ec55f8","type":"debug","z":"56cd4fb8.975c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","x":210,"y":217,"wires":[]},{"id":"4558a1e8.7fbc4","type":"debug","z":"56cd4fb8.975c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":729,"y":164,"wires":[]}]