flows_debian.json
[{"id":"cef9b916.e06d18","type":"tab","label":"OPCUA","disabled":false,"info":""},{"id":"2cf90360.b060bc","type":"tab","label":"Tags handling","disabled":false,"info":""},{"id":"1fd271ca.7992ce","type":"subflow","name":"GetTagsByGroup","info":"","category":"Luca","in":[{"x":50,"y":30,"wires":[{"id":"c5e8077d.d65ce8"}]}],"out":[],"icon":"node-red/cog.png"},{"id":"3a474b01.8e30a4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a8e0a526.8fef58","type":"ui_group","z":"","name":"Default","tab":"3a474b01.8e30a4","disp":true,"width":"20","collapse":false},{"id":"6823299a.7b9878","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.33.20:48010/","keepSessionAlive":true,"loginEnabled":true,"securityPolicy":"None","securityMode":"NONE","name":"exort","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"40c312b7.9c362c","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":1},{"id":"a40903f3.4c537","type":"ui_group","z":"","name":"Chart","tab":"f6f42232.3eb3","disp":true,"width":"20","collapse":false},{"id":"10ee53e9.37736c","type":"ui_group","z":"","name":"Inerire Nuova Ricetta","tab":"a425fc14.9660e","order":2,"disp":true,"width":"20","collapse":false},{"id":"72c6058c.cf59bc","type":"ui_group","z":"","name":"Visualizzazione Ordini","tab":"9d2883fe.64a0a","order":1,"disp":true,"width":"20","collapse":false},{"id":"9d2883fe.64a0a","type":"ui_tab","z":"","name":"Ordini","icon":"dashboard","order":3},{"id":"f6f42232.3eb3","type":"ui_tab","z":"","name":"Live","icon":"dashboard","order":4},{"id":"3e15e0ac.54d38","type":"ui_group","z":"","name":"Default","tab":"40c312b7.9c362c","disp":true,"width":"20","collapse":false},{"id":"fd02046b.ca4308","type":"ui_tab","z":"","name":"DB Manager","icon":"dashboard","order":2},{"id":"b9810ef5.7395f","type":"ui_group","z":"","name":"","tab":"fd02046b.ca4308","disp":false,"width":"15","collapse":false},{"id":"76f59c65.767384","type":"ui_tab","z":"","name":"Allarmi","icon":"dashboard"},{"id":"d8cd742f.9a34b8","type":"ui_group","z":"","name":"Allarmi","tab":"76f59c65.767384","disp":true,"width":"20","collapse":false},{"id":"a425fc14.9660e","type":"ui_tab","z":"","name":"Ricette","icon":"dashboard"},{"id":"cea1fb54.baecb8","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":1},{"id":"f6c66bb0.e073f8","type":"ui_group","z":"","name":"Chart","tab":"73f30f3a.59c3e","disp":true,"width":"20","collapse":false},{"id":"c0b20eb3.80dc2","type":"ui_group","z":"","name":"Inerire Nuova Ricetta","tab":"8b94be44.35656","order":2,"disp":true,"width":"20","collapse":false},{"id":"fd48a796.7c6a88","type":"ui_group","z":"","name":"Visualizzazione Ordini","tab":"125d0460.3d0a6c","order":1,"disp":true,"width":"20","collapse":false},{"id":"125d0460.3d0a6c","type":"ui_tab","z":"","name":"Ordini","icon":"dashboard","order":3},{"id":"73f30f3a.59c3e","type":"ui_tab","z":"","name":"Live","icon":"dashboard","order":4},{"id":"8b87d9d4.c83d18","type":"ui_group","z":"","name":"Default","tab":"cea1fb54.baecb8","disp":true,"width":"20","collapse":false},{"id":"39201583.705eca","type":"ui_tab","z":"","name":"DB Manager","icon":"dashboard","order":2},{"id":"876f886c.08cb38","type":"ui_group","z":"","name":"","tab":"39201583.705eca","disp":false,"width":"15","collapse":false},{"id":"a4b8ea36.4998c8","type":"ui_tab","z":"","name":"Allarmi","icon":"dashboard"},{"id":"ecc7c5b.2753038","type":"ui_group","z":"","name":"Allarmi","tab":"a4b8ea36.4998c8","disp":true,"width":"20","collapse":false},{"id":"8b94be44.35656","type":"ui_tab","z":"","name":"Ricette","icon":"dashboard"},{"id":"94c6e443.dada98","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":1},{"id":"f2b2ab18.5f7208","type":"ui_group","z":"","name":"Chart","tab":"11d3a8f9.789a67","disp":true,"width":"20","collapse":false},{"id":"1fa7cd0.1a06a33","type":"ui_group","z":"","name":"Inerire Nuova Ricetta","tab":"94dcaa54.857218","order":2,"disp":true,"width":"20","collapse":false},{"id":"d606ffd.4422a","type":"ui_group","z":"","name":"Visualizzazione Ordini","tab":"60f6c6d9.78b078","order":1,"disp":true,"width":"20","collapse":false},{"id":"60f6c6d9.78b078","type":"ui_tab","z":"","name":"Ordini","icon":"dashboard","order":3},{"id":"11d3a8f9.789a67","type":"ui_tab","z":"","name":"Live","icon":"dashboard","order":4},{"id":"213faaa1.14b876","type":"ui_group","z":"","name":"Default","tab":"94c6e443.dada98","disp":true,"width":"20","collapse":false},{"id":"dad8edd4.8f16f","type":"ui_tab","z":"","name":"DB Manager","icon":"dashboard","order":2},{"id":"a2e200b2.6792","type":"ui_group","z":"","name":"","tab":"dad8edd4.8f16f","disp":false,"width":"15","collapse":false},{"id":"54410859.a37108","type":"ui_tab","z":"","name":"Allarmi","icon":"dashboard"},{"id":"ea90da38.7cc248","type":"ui_group","z":"","name":"Allarmi","tab":"54410859.a37108","disp":true,"width":"20","collapse":false},{"id":"94dcaa54.857218","type":"ui_tab","z":"","name":"Ricette","icon":"dashboard"},{"id":"90bb9816.7be168","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.250.100:48240","keepSessionAlive":true,"loginEnabled":true,"securityPolicy":"None","securityMode":"NONE","name":"Ewon","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"97aa4bef.7a4d68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bded3976.3be508","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":1},{"id":"cf1d77ca.e50338","type":"ui_group","z":"","name":"Chart","tab":"aa7fa5d2.7455b8","disp":true,"width":"20","collapse":false},{"id":"dc905d5c.e3c4f","type":"ui_group","z":"","name":"Inerire Nuova Ricetta","tab":"79b8fb9d.f5e3c4","order":2,"disp":true,"width":"20","collapse":false},{"id":"f7e90bc8.d06848","type":"ui_group","z":"","name":"Visualizzazione Ordini","tab":"b499e540.0cb268","order":1,"disp":true,"width":"20","collapse":false},{"id":"b499e540.0cb268","type":"ui_tab","z":"","name":"Ordini","icon":"dashboard","order":3},{"id":"aa7fa5d2.7455b8","type":"ui_tab","z":"","name":"Live","icon":"dashboard","order":4},{"id":"58635a8d.b1c714","type":"ui_group","z":"","name":"Default","tab":"bded3976.3be508","disp":true,"width":"20","collapse":false},{"id":"5417034c.c2f30c","type":"ui_tab","z":"","name":"DB Manager","icon":"dashboard","order":2},{"id":"10569439.35410c","type":"ui_group","z":"","name":"","tab":"5417034c.c2f30c","disp":false,"width":"15","collapse":false},{"id":"d2ac7d2e.08e47","type":"ui_tab","z":"","name":"Allarmi","icon":"dashboard"},{"id":"65a3134f.4d930c","type":"ui_group","z":"","name":"Allarmi","tab":"d2ac7d2e.08e47","disp":true,"width":"20","collapse":false},{"id":"79b8fb9d.f5e3c4","type":"ui_tab","z":"","name":"Ricette","icon":"dashboard"},{"id":"4881efb4.efb3b","type":"OPCUA-IIoT-Browser","z":"cef9b916.e06d18","connector":"6823299a.7b9878","nodeId":"ns=2;i=1001","name":"Lettura nodi disponibili","justValue":false,"sendNodesToRead":true,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":true,"recursiveBrowse":true,"recursiveDepth":"","delayPerMessage":"","showStatusActivities":false,"showErrors":false,"x":1030,"y":90,"wires":[["a32b9523.542ec8"]]},{"id":"6981d7b.f483b28","type":"function","z":"cef9b916.e06d18","name":"Sorting OPC Browsing result","func":"function stopFlowAndSendNewBrowserRequest(){\n    node.warn(\"browserResults non è definito, richiesta browse attivata, verrà eseguita il prossimo ciclo di lettura.\");\n    //se la richiesta non è attiva, la attivo, altrimenti attendo la risposta senza eseguire azioni\n    let requestAlreadyExists = flow.get(\"newBrowseRequest\") || false;\n    \n    if (!requestAlreadyExists)\n        flow.set(\"newBrowseRequest\", true);\n    \n    //comunque ritono sempre -1 per non continuare il flusso, date che non ho il browseresult\n    return -1;\n}\n\nfunction composeOPCReadingJSON(value, index){\n\n    msg.addressSpaceItems.push({\n        \"nodeId\":value.nodeId,\n    });\n}\n\n\n\n\n\n\n\n\n//Creazione oggetto opc\nmsg.nodetype = \"inject\";\nmsg.injectType = \"read\";\nmsg.addressSpaceItems = [];\n\n\nlet browserResults = flow.get(\"browserResults\") || stopFlowAndSendNewBrowserRequest();\n\n\nif ( browserResults === -1 ){\n  msg.payload = -1;\n  return msg;\n} \n\n\n\n\nbrowserResults.forEach(composeOPCReadingJSON);\n\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":375,"y":135,"wires":[["ea2ec98a.37a5b8","ffa36a33.f5ca88"]]},{"id":"9579e952.27a0e8","type":"OPCUA-IIoT-Read","z":"cef9b916.e06d18","attributeId":0,"maxAge":1,"depth":1,"connector":"6823299a.7b9878","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":725,"y":195,"wires":[["53dff9fb.de6068"]]},{"id":"53dff9fb.de6068","type":"OPCUA-IIoT-Response","z":"cef9b916.e06d18","name":"","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":925,"y":195,"wires":[["d5a67e9.a59658"]]},{"id":"d5a67e9.a59658","type":"function","z":"cef9b916.e06d18","name":"global.set(\"tags\",opc);","func":"let dbg = false;\n\nvar opc = [];\nif (dbg) node.warn(msg.payload);\n\nfunction getOpcInfo(value, index){\n    opc.push({\n        nodeId: value.nodeId, \n        name: value.browseName.name, \n        value : value.value,\n        type : value.dataType, \n        statusCode : value.statusCode.name});\n        \n}\n\nmsg.payload.forEach(getOpcInfo);\n\nglobal.set(\"tags\",opc);\n//if (dbg) node.warn(opc);\n\nreturn msg;","outputs":1,"noerr":0,"x":1165,"y":195,"wires":[[]]},{"id":"a32b9523.542ec8","type":"function","z":"cef9b916.e06d18","name":"flow.set( \"browserResults\", ... )","func":"let dbg = true;\nnode.warn(\"Richiesta browsing OPCUA Server...\");\n\nflow.set(\"browserResults\", msg.payload.browserResults);\nif (dbg) node.warn(msg.payload.browserResults);\n\n//resetto la richiesta \nflow.set(\"newBrowseRequest\", false);\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":90,"wires":[[]]},{"id":"c3672461.327e88","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":135,"wires":[["6981d7b.f483b28"]]},{"id":"d01f60b6.6ee93","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":345,"wires":[["e9091fc7.6d913"]]},{"id":"2b7be629.78cfea","type":"function","z":"cef9b916.e06d18","name":"if (newBrowseRequest) ...","func":"let dbg = true;\nlet newBrowseRequest = flow.get(\"newBrowseRequest\") || false;\n\nif (newBrowseRequest){\n    if (dbg) node.warn(\"richiesta attiva\");\n    return msg;\n}\nelse{\n    if (dbg) node.warn(\"nessuna richiesta per nuovo browsing.\");\n    return;\n}","outputs":1,"noerr":0,"x":785,"y":90,"wires":[["4881efb4.efb3b"]]},{"id":"184d44bf.18f2cb","type":"comment","z":"cef9b916.e06d18","name":"lettura browseReuqest da OPCUA SERVER se non è prensete","info":"lettura delle tags ed informazioni \ndisponibili dal server, se è presente una richiesta\n","x":770,"y":45,"wires":[]},{"id":"6a1971e8.3cb33","type":"comment","z":"cef9b916.e06d18","name":"Richiesta lettura variabili presenti","info":"\n","x":145,"y":90,"wires":[]},{"id":"d5542846.0dc608","type":"comment","z":"cef9b916.e06d18","name":"cancellare il contenuto del browserresults","info":"","x":190,"y":300,"wires":[]},{"id":"aaca7685.93fdc8","type":"http in","z":"2cf90360.b060bc","name":"GET ricettaCorrente","url":"/api/tags/ricettaCorrente","method":"get","upload":false,"swaggerDoc":"","x":135,"y":60,"wires":[["7176ae92.d6753"]]},{"id":"bf22356f.ae1dd8","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":795,"y":60,"wires":[]},{"id":"7176ae92.d6753","type":"function","z":"2cf90360.b060bc","name":"","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet requestedTags = global.get(\"tags\").filter(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name.startsWith(\"ricetta\");\n})\n\nnode.warn(requestedTags);\n\nmsg.payload = requestedTags;\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":60,"wires":[["bf22356f.ae1dd8"]]},{"id":"17aba425.1774dc","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["7176ae92.d6753"]]},{"id":"c5e8077d.d65ce8","type":"function","z":"1fd271ca.7992ce","name":"","func":"let tags = global.get(\"tags\");\nlet requestedGropu = \"ricetta\";\n\nlet requestedTags = tags.filter(obj => {\n  return obj.descrizione === requestedGropu;\n})\n\n\nnode.warn(requestedTags);\n\nmsg.payload = requestedTags;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":30,"wires":[[]]},{"id":"398c3d91.1a4a02","type":"http in","z":"cef9b916.e06d18","name":"/api/actualOPCUABrowserResults","url":"/api/actualOPCUABrowserResults","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":390,"wires":[["e9091fc7.6d913"]]},{"id":"e9091fc7.6d913","type":"function","z":"cef9b916.e06d18","name":"delete opcua browser results","func":"let dbg = true;\n\nflow.set(\"browserResults\", undefined);\nmsg.payload = { status : 1, browserResults : \"undefined\"};\nnode.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":360,"wires":[["482e33b7.86025c"]]},{"id":"482e33b7.86025c","type":"http response","z":"cef9b916.e06d18","name":"","statusCode":"200","headers":{},"x":750,"y":360,"wires":[]},{"id":"dabe7f4e.57e14","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":510,"wires":[["81f686f4.f6fc48"]]},{"id":"e7fffeac.ea12e","type":"comment","z":"cef9b916.e06d18","name":"lettura del valore attuale di browser results","info":"","x":190,"y":465,"wires":[]},{"id":"58736186.51061","type":"http in","z":"cef9b916.e06d18","name":"/api/actualOPCUABrowserResults","url":"/api/actualOPCUABrowserResults","method":"get","upload":false,"swaggerDoc":"","x":170,"y":555,"wires":[["81f686f4.f6fc48"]]},{"id":"37ecd072.a6531","type":"http response","z":"cef9b916.e06d18","name":"","statusCode":"200","headers":{},"x":750,"y":525,"wires":[]},{"id":"81f686f4.f6fc48","type":"function","z":"cef9b916.e06d18","name":"lettura valore attuale browser results","func":"let dbg = true;\n\nlet browseResults = flow.get(\"browserResults\");\nmsg.payload = { browseResults: browseResults || \"undefined\"};\nnode.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":525,"wires":[["37ecd072.a6531"]]},{"id":"ea2ec98a.37a5b8","type":"switch","z":"cef9b916.e06d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":195,"wires":[["9579e952.27a0e8"]]},{"id":"ffa36a33.f5ca88","type":"switch","z":"cef9b916.e06d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":90,"wires":[["2b7be629.78cfea"]]},{"id":"97910f6b.d2924","type":"comment","z":"cef9b916.e06d18","name":"browseReuqest esistente, si procede alla lettura delle tags","info":"lettura delle tags ed informazioni \ndisponibili dal server, se è presente una richiesta\n","x":750,"y":150,"wires":[]},{"id":"5ca1a9b5.acb458","type":"OPCUA-IIoT-Response","z":"cef9b916.e06d18","name":"","showStatusActivities":true,"showErrors":true,"x":1045,"y":1920,"wires":[["5f01035b.0622cc"]]},{"id":"5992f2a0.deb35c","type":"OPCUA-IIoT-Write","z":"cef9b916.e06d18","connector":"6823299a.7b9878","name":"","justValue":false,"showStatusActivities":true,"showErrors":true,"x":1010,"y":1995,"wires":[["5ca1a9b5.acb458"]]},{"id":"aa05a95e.c3dbd8","type":"function","z":"cef9b916.e06d18","name":"Composing Opc Json - Azzeramento Richiesta","func":"//Creazione oggetto opc\nnode.warn(msg);\nlet nodetype = \"inject\";\nlet injectType = \"write\";\nlet addressSpaceItems = [];\nlet payload = [];\nlet userRequest = msg.richiestaUtente;\nmsg = {};\n\nuserRequest.forEach(function(obj){\n    addressSpaceItems.push({\n        \"nodeId\": obj.nodeId,\n        \"datatypeName\":obj.typeName\n    });    \n});\n\n\nuserRequest.forEach(function(obj){\n    payload.push(obj.value);    \n});\n\nmsg.nodetype = nodetype;\nmsg.injectType = injectType;\nmsg.addressSpaceItems = addressSpaceItems;\nmsg.payload = payload;\nnode.warn(msg);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1995,"wires":[["5992f2a0.deb35c"]]},{"id":"8068fabd.841608","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1845,"wires":[["2a483419.0b622c"]]},{"id":"2a483419.0b622c","type":"function","z":"cef9b916.e06d18","name":"Getting requested tags","func":"function getTags(requestedTags){\n    \n    let tags = global.get(\"tags\") || [];\n    let resultTags = [];\n    \n    \n    requestedTags.forEach(function(req){\n        \n        resultTags.push(\n            tags.find(obj=> {\n                \n                return obj.name === req.name;\n            })\n        );\n    });\n\n    return resultTags;\n\n}\n\n\n//let req = [{name: \"ricetta_p10\", value : 777}, {name: \"ricetta_p11\", value : 222}, {name: \"alarms_a1\", value : true}];\n//let req = [{\"name\": \"ricetta_p10\", \"value\" : 666}];\nreq = msg.payload;\n\n\nnode.warn(req);\nlet requestedTags = getTags(req);\n\nfor(let i=0; i<req.length; i++){\n    req[i].nodeId = requestedTags[i].nodeId;\n}\n\nmsg.richiestaUtente = req;\nmsg.informazioniTags = requestedTags;\n\n//storing info for http request, per non rompere i nodi opcua\nflow.set(\"res\", msg.res);\nflow.set(\"req\", msg.req);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":365,"y":1860,"wires":[["f08a7434.fd9ef8"]]},{"id":"f08a7434.fd9ef8","type":"function","z":"cef9b916.e06d18","name":"Richiesta formato corretto dati","func":"function composeOPCReadingJSON(value, index){\n\n    msg.addressSpaceItems.push({\n        \"nodeId\":value.type,\n    });\n}\n\n\n//Creazione oggetto opc\nmsg.nodetype = \"inject\";\nmsg.injectType = \"read\";\nmsg.addressSpaceItems = [];\n\n\nlet requestedTags = msg.informazioniTags;\nnode.warn(requestedTags);\nrequestedTags.forEach(composeOPCReadingJSON);\n\n\nmsg = { nodetype: msg.nodetype, \n        injectType: msg.injectType, \n        addressSpaceItems: msg.addressSpaceItems,\n        topic: \"\",\n        payload: 1,\n        richiestaUtente: msg.richiestaUtente,\n        informazioniTags: msg.informazioniTags\n};\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":655,"y":1860,"wires":[["deda58c9.9aa168","1f52705d.4148f"]]},{"id":"deda58c9.9aa168","type":"OPCUA-IIoT-Read","z":"cef9b916.e06d18","attributeId":0,"maxAge":1,"depth":1,"connector":"6823299a.7b9878","name":"","justValue":true,"showStatusActivities":true,"showErrors":true,"parseStrings":true,"historyDays":"","x":440,"y":1920,"wires":[["eda28ceb.a10a1"]]},{"id":"eda28ceb.a10a1","type":"OPCUA-IIoT-Response","z":"cef9b916.e06d18","name":"","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":580,"y":1920,"wires":[["e04c9abb.d7f928"]]},{"id":"e04c9abb.d7f928","type":"function","z":"cef9b916.e06d18","name":"","func":"let count = msg.informazioniTags.length;\n\n\nfor(let i=0; i<count; i++){\n    msg.richiestaUtente[i].typeName = msg.payload[i].displayName.text;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":845,"y":1920,"wires":[["aa05a95e.c3dbd8"]]},{"id":"960ac4e2.92b268","type":"http in","z":"cef9b916.e06d18","name":"","url":"/api/tags","method":"post","upload":false,"swaggerDoc":"","x":125,"y":1920,"wires":[["2a483419.0b622c","32daf39f.08f72c"]]},{"id":"d03ff0c1.ff49","type":"http response","z":"cef9b916.e06d18","name":"","statusCode":"200","headers":{},"x":1260,"y":2070,"wires":[]},{"id":"1f52705d.4148f","type":"debug","z":"cef9b916.e06d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":875,"y":1830,"wires":[]},{"id":"32daf39f.08f72c","type":"debug","z":"cef9b916.e06d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":1920,"wires":[]},{"id":"5f01035b.0622cc","type":"function","z":"cef9b916.e06d18","name":"","func":"msg.res = flow.get(\"res\");\nmsg.req = flow.get(\"req\");\nreturn msg;","outputs":1,"noerr":0,"x":1205,"y":1965,"wires":[["d03ff0c1.ff49"]]},{"id":"2bdb3784.e013e8","type":"comment","z":"cef9b916.e06d18","name":"Richiesta scrittura array di tags","info":"","x":175,"y":1800,"wires":[]},{"id":"fae4eef2.19927","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":240,"wires":[["a9c303e.55267"]]},{"id":"2d2ca038.7c19c","type":"comment","z":"2cf90360.b060bc","name":"lettura del valore delle tags presenti ( tutte )","info":"","x":215,"y":195,"wires":[]},{"id":"5e562313.ddb64c","type":"http in","z":"2cf90360.b060bc","name":"/api/readAllTags","url":"/api/readAllTags","method":"get","upload":false,"swaggerDoc":"","x":125,"y":285,"wires":[["a9c303e.55267"]]},{"id":"4a65f872.f41ff8","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":765,"y":255,"wires":[]},{"id":"a9c303e.55267","type":"function","z":"2cf90360.b060bc","name":"restituisco tutte le tags presenti","func":"let dbg = true;\n\nlet tags = global.get(\"tags\");\nmsg.payload = tags;\nnode.warn(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":255,"wires":[["4a65f872.f41ff8"]]},{"id":"a85881d1.9a7b4","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":450,"wires":[[]]},{"id":"392f1138.9eb40e","type":"comment","z":"2cf90360.b060bc","name":"lettura gruppo tags in base a radice del nome","info":"","x":215,"y":405,"wires":[]},{"id":"f42676ca.af36b8","type":"http in","z":"2cf90360.b060bc","name":"/api/readTagsGroup","url":"/api/readTagsGroup","method":"get","upload":false,"swaggerDoc":"","x":135,"y":495,"wires":[["cc5e4854.5abf38","ff3ef424.d82cd8"]]},{"id":"197341a9.db0e8e","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":765,"y":465,"wires":[]},{"id":"ff3ef424.d82cd8","type":"function","z":"2cf90360.b060bc","name":"lettura valore attuale browser results","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet tags = global.get(\"tags\");\nlet requestedGropu = msg.payload.tagname || \"\";\n\nnode.warn(requestedGropu);\n\nlet requestedTags = tags.filter(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name.startsWith(requestedGropu);\n})\n\n\nnode.warn(requestedTags);\n\nmsg.payload = requestedTags;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":465,"wires":[["197341a9.db0e8e"]]},{"id":"cc5e4854.5abf38","type":"debug","z":"2cf90360.b060bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":510,"wires":[]},{"id":"acf1ab3f.752be8","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":645,"wires":[[]]},{"id":"a476238a.0f6b1","type":"comment","z":"2cf90360.b060bc","name":"lettura di una singola tag","info":"","x":155,"y":600,"wires":[]},{"id":"fe00c1ed.1099a","type":"http in","z":"2cf90360.b060bc","name":"/api/readTag","url":"/api/readTag","method":"get","upload":false,"swaggerDoc":"","x":115,"y":690,"wires":[["8f3d461f.8a1798","a8f65efd.b9175"]]},{"id":"2847f2e5.3a330e","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":765,"y":660,"wires":[]},{"id":"a8f65efd.b9175","type":"function","z":"2cf90360.b060bc","name":"lettura valore attuale browser results","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet tags = global.get(\"tags\");\nlet tagName = msg.payload.tagName || \"\";\n\nnode.warn(tagName);\n\nlet requestedTag = tags.find(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name === tagName;\n})\n\nif (requestedTag.length === 0 ){\n    msg.payload = {value: \"tag not found.\"};\n    return msg;\n}\n\nnode.warn(requestedTag);\nmsg.payload = requestedTag;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["2847f2e5.3a330e"]]},{"id":"8f3d461f.8a1798","type":"debug","z":"2cf90360.b060bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":705,"wires":[]}]